<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default">
  <div class="containerheader">
		<div class="container">
			<div class="navbar-header col-md-3 cl-effect-4">
				<a class = "navbar-name" href="/">Vittles</a>
			</div>

				<div class="col-md-4 search-i" role="search">
					<input type="text" class="form-control" placeholder="Search" id="query">
				</div>

				
				
				<div class="btn-group">
					<a class="btn btn-default dropdown-toggle" type="submit" data-toggle="dropdown" id="dropdownMenu" href="#"><i class="fa fa-search" aria-hidden="true"></i></i>
						<span class="caret" title="Toggle dropdown menu"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#" class="dropdown-item" id="searchToggle" val="Dishes">DISHES</a></li>
						<li><a href="#" class="dropdown-item" id="searchToggle" val="Restaurants">RESTAURANTS</a></li>
					</ul>
				</div>

			<!--If logged out-->
			<div class="navbar navbar-right cl-effect-4">
				<% if (user != "") {%>
					<a href="profile" class="clink">Profile</a>
					<a id="logout" href="#" class="clink">Logout</a>
					
				<% } else { %>
				    <a href="signin" class="clink">Sign in</a>
				    <a href="register" class="clink">Register</a>
				<% } %>
				
			</div>
			<!--If logged in
			<a href="writereview.html" class="clink"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
			<a href="profile.html" class = "clink"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
			-->
		</div>
	</div>
</nav>
