<div class="dishlist">
  <div class="row">
    <section class="content">
     	<div class="container panel panel-default panel-body menu-container-fluid">
        <table class="table table-borderless resbody">
          <tbody>
            <%restaurants.forEach(function(restaurant) {%>
            <tr class="rescell">
              <div class="result">
              	<td>
                  <h4 class="restitle">
                    <a href="restaurant" class="namelink"><%= restaurant.name%></a>
                  </h4>
                  <p class="ressummary"><%= restaurant.address%></p>
                </td>
                <td>
                  <h4 class="title">
                       	<% if(user != ""){%>
                       	  <% if(restaurant.saved){%>
                            <label class="hearticon" id="hearticon">
                              <input type="checkbox" name="fav_reskey" value="<%= restaurant["key"] %>" id="favheart" checked/></input>
                              <span class="checkboxImage"></span>
                            </label>
                          <% } else{ %>
                            <label class="hearticon" id="hearticon">
                              <input type="checkbox" name="fav_reskey" value="<%= restaurant["key"] %>" id="favheart" /></input>
                              <span class="checkboxImage"></span>
                            </label>
                          <% }%>
                        <% }%>
                      </h4>
                  <div class="review">
                    <div class="result-description">
                     
                    </div>
                 	</div>
                </td>
              </div>
            </tr>
            <% }); %>
          </tbody>
       	</table>
      </div>
   	</section>
  </div>
</div>