<div class="dishlist">
  <div class="row">
    <section class="content">
      <div class="container panel panel-default panel-body menu-container-fluid">
        <table class="table table-borderless">
          <tbody>
            <%favdishes.forEach(function(dish) {%>
            	<tr>
                <div class="result">
                  <td class="result-img">
                    <div class="center-block">
                     	<a href="#" class="pull-left">
                        <img src="<%= dish.img%>" class="result-photo">
                      </a>
                    </div>
                  </td>
                  <td>
                    <div class="review">
                      <div class="result-description">
                        <h4 class="title">
                          <a href="dish"><%= dish.name%></a>
                          <label class="hearticon">
                            <input type="checkbox" name="fav_dishkey" value="<%= dish["key"] %>" id="favheart" checked/></input>
                            <span class="checkboxImage"></span>
                          </label>
                        </h4>
                        <p class="summary"><%= dish.desc%></p>
                      </div>
                    </div>
                  </td>
               	</div>
            	</tr>
         		<%}); %>
      		</tbody>
    		</table>
  		</div>
		</section>
	</div>
</div>