<div class="dishlist">
  <div class="row">
    <section class="content">
      <div class="container panel panel-default panel-body menu-container-fluid">
        <table class="table table-borderless">
          <tbody>
            <%dishes.forEach(function(dish) {%>
           	<tr>
            	<div class="result">
                <td class="result-img">
                  <div class="center-block">
                    <a href="#" class="pull-left">
                      <img src="blah.jpg" class="result-photo">
                    </a>
                  </div>
                </td>
                <td>
                  <div class="review">
                    <div class="result-description">
                      <h4 class="title">
                        <a href="dish"><%= dish.name%></a>
                      </h4>
                      <p class="summary"><%= dish.desc%></p>
                  	</div>
                  </div>
               	</td>
              </div>
            </tr>
          	<%}); %>
        	</tbody>
      	</table>
    	</div>
  	</section>
	</div>
</div>