<head>
    <title>Vittles | Restaurant</title>
    <%- include('partials/head') %>

    <style>
        .col-xs-12{
            height: 100px;
            background-color: lightgray;
            text-align: center;
        }
    </style>

</head>
<body>

    <!--Makes look good on all sizes-->
    <div class="container-fluid">

        <%- include('partials/header') %>

        <div class="dishlist">
            <!---!!!!-->
            <div class="container-fluid">
                <div class="row">

                    <section class="content">


                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class ="row">
                                        <div class = "center-block" style = "width:200px">
                                            <div class="restaurant-container-fluid">
                                                <img src="/blah.jpg" class="restaurant-photo">
                                                <div>Restaurant address</div>
                                                <div>Overall dish rating</div>
                                                <div>Restaurant description</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="menu-container-fluid">
                                        <%- include('partials/showdishcontent')%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <!--!!!!-->
        </div>

    </div>


</body>
</html>