<head>
    <title>Vittles | Restaurant</title>
    <%- include('partials/head') %>

    <style>
        .col-xs-12{
            height: 100px;
            background-color: lightgray;
            text-align: center;
        }
    </style>

</head>
<body>

    <!--Makes look good on all sizes-->
    <div class="container-fluid">

        <%- include('partials/header') %>

        <div class="dishlist">
            <!---!!!!-->
            <div class="container-fluid">
                <div class="row">

                    <section class="content">


                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class ="row">
                                        <div class = "center-block" style = "width:200px">
                                            <div class="restaurant-container-fluid">
                                                <img src="blah.jpg" class="restaurant-photo">
                                                <div>Restaurant address</div>
                                                <div>Overall dish rating</div>
                                                <div>Restaurant description</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="menu-container-fluid">
                                        <table class="table table-borderless">
                                            <tbody>

                                            <tr>
                                                <div class="dish">
                                                    <td class="dish-rating">
                                                        <div class="center-block">
                                                            <a href="#" class="pull-left">
                                                                <img src="blah.jpg" class="sub-dish-photo">
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="dish-description">
                                                            <a>
                                                                <i class="glyphicon glyphicon-star"></i>
                                                            </a>
                                                            <div class="dish-description">
                                                                <h4 class="title">
                                                                    <a href="dish">Banana Bread</a>
                                                                </h4>
                                                                <p class="summary">Add the flour, baking powder and cinnamon, and combine well. Add any additional ingredients. Baked in a greased and lined 2lb loaf tin for 20 minutes, before checking. Cover with foil, if the loaf cake is browning. Bake for another 40 minutes (approximately). Allow to cool a little before slicing. It's delicious freshly baked but even yummier when it goes gooey the next day!</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>

                                            <tr>
                                                <div class="dish">
                                                    <td class="dish-rating">
                                                        <div class="center-block">
                                                            <a href="#" class="pull-left">
                                                                <img src="blah.jpg" class="sub-dish-photo">
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="dish-description">
                                                            <a>
                                                                <i class="glyphicon glyphicon-star"></i>
                                                            </a>
                                                            <div class="dish-description">
                                                                <h4 class="title">
                                                                    <a href="dish">Banana Bread</a>
                                                                </h4>
                                                                <p class="summary">Add the flour, baking powder and cinnamon, and combine well. Add any additional ingredients. Baked in a greased and lined 2lb loaf tin for 20 minutes, before checking. Cover with foil, if the loaf cake is browning. Bake for another 40 minutes (approximately). Allow to cool a little before slicing. It's delicious freshly baked but even yummier when it goes gooey the next day!</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <!--!!!!-->
        </div>

    </div>


</body>
</html>