<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
  <title>Vittles | Write Review</title>
</head>

<body>
<%- include('partials/header') %>
  <div class="container">
    <h1>Review</h1>
    <form class="form-horizontal" role="form" method="post" action="/newReview">
      <div class="form-group">
        <label class="col-lg-3 control-label">Title:</label>
        <div class="col-lg-8">
          <input class="form-control" type="text" rows="3" placeholder="Review title" id="reviewtitle" name="reviewtitle"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Restaurant:</label>
        <div class="col-lg-8">
          <select class="selectRestaurant" id="restname" name="reviewrestaurant" style="width: 50%">
            <option></option>
            <%restaurants.forEach(function(restaurant) {%>
              <option id="AL"><%= restaurant.name%></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Dish:</label>
        <div class="col-lg-8">
          <select class="selectDish" name="reviewdish" style="width: 50%">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Review:</label>
        <div class="col-lg-8">
          <textarea class="form-control" rows="3" placeholder="What did you think?" id="reviewpost" name="reviewpost"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Rating: </label>
        <!--src= https://jsfiddle.net/leaverou/CGP87/ -->
        <fieldset class="rating col-lg-6">
          <input type="radio" id="star5" name="reviewrating" value="5" /><label for="star5"></label>
          <input type="radio" id="star4" name="reviewrating" value="4" /><label for="star4"></label>
          <input type="radio" id="star3" name="reviewrating" value="3" /><label for="star3"></label>
          <input type="radio" id="star2" name="reviewrating" value="2" /><label for="star2"></label>
          <input type="radio" id="star1" name="reviewrating" value="1" /><label for="star1"></label>
        </fieldset>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8 buttons">
          <input type="submit" class="btn btn-primary" value="Post Review" required>
          <span></span>
          <input type="reset" class="btn btn-default" value="Cancel">
        </div>
      </div>
    </form>
  </div>
</body>

<%- include('partials/js-imports.ejs') -%>
<script src="/js/writereview.js"></script>


</html>