/* General css */
body {
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
}

.container{
  padding-top: 20px;
}

.nocontent{
  color:grey;
  font-size: 25px;
  text-align: center;
}

/* Header css */
.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-name {
  margin: 10px 0px;
  top: -5px;
}

.navbar-name:hover {
  color: white;
  text-decoration: none;
}

.navbar-name:active {
  color: white;
  text-decoration: none;
}

.navbar-name:visited {
  color: white;
  text-decoration: none;
}

.navbar-name:focus {
  color: white;
  text-decoration: none;
}

.navbar-name::after {
  display: none;
}

form.navbar-form{
  width: 500px !important;
  align-content:center;
}

.containerheader{
  background: #ff2d55 !important;
}
.navbar-brand{
  font-size: 30px;
  color: white !important;
}

.jumbotron.mainHeader {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 9% 0%;
  
}

.form-group{
  align-content: center;
  font-size: 20px;
}

.search-i{
  padding-top: 15px;
}
.btn-i{
  align-content: inherit;
}

a.clink{
  text-decoration: none;
  color: white;
}

.navbar-name{
  font-size: 28px;
}

/* Home Page css */

.jumbotron h1{
  text-align: center;
}
.jumbotron p{
  text-align: center;
}

.nav-link{
  text-align: center;
}

/* Profile Page css */

.img{
  width:125px;
  height: 125px;
  padding: 5px;
}

.profile-user{
  text-align: center;
  background: white;
  padding: 25px;
  border: 2px solid white;
  border-radius: 4px;
  width: 22%;
  margin-left: auto;
  margin-right: auto;
}

.profile-username{
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  font-size: 20px;
}

.profile-userlocation{
  text-align: center;
  font-size: 16px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.profile-reviews{
  padding-top: 20px;
}

/* Edit Profile Page css */

.edit-profile-userimg{
  text-align: center;
}

.file-input{
  padding-top: 5px;
  text-align: center;
  align-content: center;
  font-size: 16px;
}

.buttons{
  text-align: center;
}

/* Write Review Page css */

.star-rating{
  text-align: center;
  font-size: 20px;
}

/* Dish Page css */

.main-dish-photo{
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
}

.profile-photo{
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
}

.review-rating{
  vertical-align: middle;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

.review-username{
  text-align: center;
}

/* Restaurant Page css */

.restaurant-photo{
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
}

.sub-dish-photo{
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
}

/*Result Page css */

.result-photo{
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
}

/*Sign In / Reigster css */

.container-signin{
  align-content: center;
  width: 100%;
  font-size: 20px;
}

.signin{
  text-align: center;
}


/*Rating source: https://jsfiddle.net/leaverou/CGP87/*/

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:2em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:darkgrey;
}

.rating:not(:checked) > label:before {
  font-family: FontAwesome;
  content: "\f005";
}

.rating > input:checked ~ label {
  color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.errorMessage {
  height: 0px;
  opacity: 0;
  padding-top: 15px;
  color: red;
  text-align: center;
  font-size: medium;
  transition: all 0.6s ease;
}


/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.onpage-rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.onpage-rating:not(:checked) > label {
  float:right;
  width:2em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:100%;
  line-height:1.2;
  color:#ddd;
}

.onpage-rating:not(:checked) > label:before {
  font-family: FontAwesome;
  content: "\f005";
}

.onpage-rating > input:checked ~ label {
  color: #ffdb00;
}

.onpage-rating:not(:checked) > label:hover,
.onpage-rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.onpage-rating > input:checked + label:hover,
.onpage-rating > input:checked + label:hover ~ label,
.onpage-rating > input:checked ~ label:hover,
.onpage-rating > input:checked ~ label:hover ~ label,
.onpage-rating > label:hover ~ input:checked ~ label {
  color: gold;
}

.onpage-rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.errorMessage {
  height: 0px;
  opacity: 0;
  padding-top: 15px;
  color: red;
  text-align: center;
  font-size: medium;
  transition: all 0.6s ease;
}

.statusMessage {
  height: 0px;
  opacity: 0;
  color: green;
  text-align: center;
  font-size: medium;
  transition: all 0.6s ease;
}

/* Favorite star icon css */

.staricon{
  float: right;
}

.staricon input[type="checkbox"] {
  display: none;
}

.staricon input[type="checkbox"] + span:before {
  font-family: 'FontAwesome';
  padding-right: 3px;
  font-size: 40px;
}

.staricon input[type="checkbox"] + span:before {
  content: "\f005"; /* check-empty */
  color: #ddd;
}

.staricon input[type="checkbox"]:checked + span:before {
  content: "\f005"; /* check-empty */
  color: #ffe34f;
}

.staricon input[type="checkbox"] + span:hover:before {
  color: #ffe34f;
}

/*Index page*/

.dishresname{
  color: lightgray;
  font-size: 16px;
}

#ratingstar{
  color:gold;
}

a.namelink{
  color:black;
  text-decoration:none;
  font-size: 20px;
}

.restitle{
  color: dimgrey;
}

.ressummary{
  line-height: 200%;
}

/* Add item css */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

